<div>
  <p><%= link_to 'Personas', controller: 'personas' %></p>
  <p><%= link_to 'Libros', controller: 'libros' %></p>
  <p><%= link_to 'Prestamos', controller: 'prestamos' %></p>
</div>

<h1>Prestamos index</h1>
